.text-0 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 21px;
    margin: 20px;
}
.text-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
    margin: 20px;
    
}
.text-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
    margin: 20px;
}
.text-3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
    margin: 20px;
}